<h2>🌿 Registrar Planta Medicinal</h2>

<form [formGroup]="plantaForm" (ngSubmit)="guardar()">
  <label>Nombre:</label>
  <input type="text" formControlName="nombre">

  <label>Descripción:</label>
  <textarea formControlName="descripcion"></textarea>

  <label>Usos:</label>
  <input type="text" formControlName="usos">

  <label>Región:</label>
  <input type="text" formControlName="region">

  <label>Imagen:</label>
  <input type="file" (change)="onFileSelected($event)">
  <div *ngIf="imagenCargando">Subiendo imagen...</div>
  <img *ngIf="plantaForm.value.imagenUrl" [src]="plantaForm.value.imagenUrl" alt="Previsualización" width="100">

  <button type="submit" [disabled]="imagenCargando">Guardar</button>
</form>
