<section class="hero">
  <div class="contenido">
    <h1>Catálogo de Plantas Medicinales</h1>
    <p>Explora, conoce y registra las plantas tradicionales con propiedades curativas de nuestra región.</p>
    <button class="btn-ir-plantas" (click)="goToPlantas()">🌿 Ver Plantas</button>

  </div>
</section>

<section class="beneficios">
  <div class="beneficio">
    <h3>🔍 Búsqueda Inteligente</h3>
    <p>Encuentra plantas por nombre, región o uso medicinal.</p>
  </div>
  <div class="beneficio">
    <h3>📷 Registro Fácil</h3>
    <p>Agrega nuevas plantas con imágenes y descripciones detalladas.</p>
  </div>
  <div class="beneficio">
    <h3>💡 Conocimiento Ancestral</h3>
    <p>Preserva el saber tradicional sobre la medicina natural.</p>
  </div>
</section>
