.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  padding: 20px;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.2s;
  padding: 10px;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
}

.card h3 {
  font-size: 20px;
  margin: 10px 0 5px;
  color: #2e7d32;
}




.btn-eliminar {
  background-color: #d32f2f; /* rojo fuerte */
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Pacifico', cursive;
}

.btn-eliminar:hover {
  background-color: #b71c1c; /* rojo más oscuro */
  
}

.actions button {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  width: 100px; /* mismo ancho */
  font-family: 'Pacifico', cursive; /* si estás usando esta fuente */
}

.card .actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.btn-editar {
  background-color: #388e3c; /* verde medio */
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Pacifico', cursive;
}

.btn-editar:hover {
  background-color: #2e7d32; /* verde más oscuro al pasar el mouse */
}

.card button {
  transition: background-color 0.2s, transform 0.2s;
}
.card button:hover {
  transform: scale(1.05);
}

.filtros-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 0 20px;
  gap: 10px;
  font-family: 'Pacifico', cursive;
}

.filtros-container select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-family: 'Pacifico', cursive;
}

.filtros-container input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-left: auto; /* para empujarlo a la derecha */
}

.filtros-container input:focus,
.filtros-container select:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 4px rgba(76, 175, 80, 0.4);
}

.btn-eliminar,
.btn-editar,
.btn-sesion,
.cerrar-sesion {
  cursor: pointer;
  font-family: 'Pacifico', cursive;
}

.input-busqueda {
  padding: 10px 15px;
  font-size: 30px;
  border: 2px solid #2e7d32;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
  max-width: 300px;
  font-family: 'Pacifico', cursive;
}